page-presenter-details {

  img {
    border-radius: 15%;
  }

  p, h3 {
    text-align: left;
  }

  .profile {
    border-radius: 50%;
  }

  .pres-info {
    background-color: rgba(255,255,255,0.7)
  }
}
